body
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

a
{
	text-decoration: none;
}

a:visited
{
	color: #000000;
}

.btn.btn-primary 
{
  color: #000000;
  background-color: #4d4d4d;
  position: relative;
}

.btn.btn-primary:hover 
{
  background-color: #ffffff;
}

.btn.btn-primary:active
{
  background-color: #a0a0a0;
}

header
{
	padding: 1em;
	background-color: #4d4d4d;
}

header .row
{
	display: flex;
	align-items: center;
}

header h1
{	
	padding-right: 1em;
	margin: 0;
	border-right: 2px solid #000000;
	text-shadow: .5px .5px .5px #909090;
}

header nav
{
	display: flex;
	justify-content: flex-end;
	align-items: left;
	padding-left: 1em;
	font-weight: 500;
}

header a
{
	padding: 0 1em;
	margin: 0;
	border-right: 1px solid #000000;;
}

#first
{
	margin-left: 0;
	padding-left: : 0;
	background-color: #999999;
	border-left: 1px solid #000000
}

.jumbotron
{
	display: flex;
	align-items: center;
	height: 56em;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-image: url('img.jpeg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	border-top: 2px solid red;
}

.jumbotron h1
{
	align-items: center;
	padding-left: 30em;
}

.jumbotron p
{
	align-items: center;
	padding-left: 38em;
}