body
{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-weight: 300;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

a
{
	text-decoration: none;
}

a:visited
{
	color: #000000;
}

.btn.btn-primary 
{
  color: #000000;
  background-color: #4d4d4d;
  position: relative;
}

.btn.btn-primary:hover 
{
  background-color: #ffffff;
}

.btn.btn-primary:active
{
  background-color: #a0a0a0;
}

header
{
	padding: 1em;
	background-color: #4d4d4d;
}
